<!-- 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <style>
        .completed { text-decoration: line-through; }
    </style>
</head>
<body>
    
    <h1>Firma</h1>
    <form id="task-form">
        <input type="text" id="task-input" placeholder="Ввод текста" required>
        <button type="submit">Click</button>
    </form>
    <ul id="task-list"></ul>

    
</body>
</html> -->





<!-- _________________________________- -->




 

   <!-- <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Task Manager</title>
   <style>
       .completed { text-decoration: line-through; }
   </style>
</head>
>
   <h1>Firma</h1>
   <form id="task-form" method="post" action="/tasks/">
       <input type="text" name="description" placeholder="Ввод текста" required>
       <button type="submit">Click</button>
   </form>
   <ul id="task-list"></ul>

  
</body>
</html> -->

